@font-face {
    font-family: "Broadway";
    src: url(font/broadway.3d-regular.ttf);
}
body {
    background: rgb(241,160,226);
    margin: 0%;
}
.nav-span {
    font-family: "Broadway";
  color: #f1a0e2;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px pink,
  0 0 82px pink,
  0 0 92px pink,
  0 0 102px pink,
  0 0 151px pink;
}

a { text-decoration: none; }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: pink;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f1a0e2;
    border-radius: 15px;
  }
  
  header {
    width: 100%;
    height: 140px;
    border-bottom: solid 0px rgba(16, 16, 16, 0.1);
    position: fixed;
  background-color: #ffffd5;
    top: 0%;
    z-index: 2;

  }
  
  header .inner {
    width: 1300px;
    height: 100%;
    display: block;
    margin: auto;
  }
  
  header .logo {
    display: table;
    height: 100%;
    float: left;
    
  }
  
  header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  header .logo img {
    height: 200px;
    margin-top: -23px;
  }
  
  header nav {
    float: right;
    height: 100%;
  }
  
  header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
    font-size: 30px;
    font-weight: 500;
  }
  
  header .nav-span {
    display: table-cell;
    vertical-align: middle;
  }
  
  header nav a {
    color: #f1a0e2;
  }
  
  
  header nav .button:hover {
    color:white
  }


 .box {
text-align: center;
margin-top: 140px; 
border-style:solid; 
border-color: #ffffd5;
background-color:#ffffd5;
padding-left: 150px;
padding-right: 150px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 22px;
font-weight: 0;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
 }

  .overskrift {
   font-family: "Broadway";
   color: #f1a0e2;
   font-size: 80px
  }

.pictures{
display: flex;
justify-content: center;
padding-bottom: 0%;
}

.box2 {
text-align: center;
margin-top: 0px;
border-style:solid; 
border-color: #ffffd5;
background-color: #ffffd5;
padding-left: 150px;
padding-right: 150px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 22px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
color: #f1a0e2;
text-align: justify;
}

.broedtekst {
    
    color: #f1a0e2;
    text-align: justify;


}
p {
   
    color: #f1a0e2;
    text-align: justify;  
    font-family: "Arial"
}
ul {
 
    color: #f1a0e2;
    text-align: justify;
}

h3 {
    color: #f1a0e2; 
    
}

h4 {
    color: #f1a0e2;   
}
footer {
    height: 100%;
    background-color: #f1a0e2;
  }
  
  footer article h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: "Broadway";
  }
  
  
  footer section {
    padding-top: -30px;
    display: grid;
    grid-template-columns: 5% 5%;
    justify-content: center;
    justify-items: center;
    padding-bottom: 0;
    padding-left: 100px;
  }
